src/main/mule/circuite-breaker-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<anypoint-mq:config name="Anypoint_MQ_Config" doc:name="Anypoint MQ Config" doc:id="d7ea85d0-c2b9-41b0-b628-86936b2f6512" >
		<anypoint-mq:connection url="https://mq-eu-west-2.anypoint.mulesoft.com/api/v1" clientId="e19e15b4a3f84710b45f2fef4e8f1eac" clientSecret="76FD3E9BC35C4A22A6cDDdf3514805B1" />
	</anypoint-mq:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d078818d-275e-462b-99ef-184348889465" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="974267ea-9d7f-465f-876a-a9824a8703a7" >
		<http:request-connection host="0.0.0.0" port="8081" />
	</http:request-config>
	<anypoint-mq:circuit-breaker name="Circuit_breaker_http_time_out" tripTimeout="1" doc:name="Circuit breaker" doc:id="da56a14e-c812-4c28-a259-5b92f9fc38ba" errorsThreshold="2" tripTimeoutUnit="MINUTES" onErrorTypes="HTTP:BAD_GATEWAY, HTTP:CONNECTIVITY, HTTP:TIMEOUT,HTTP:SERVICE_UNAVAILABLE"/>
	<flow name="circuite-breaker-pocFlow" doc:id="fb006ad0-75b9-45fe-8741-1d737633355b" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="796da23f-dba0-4355-967c-fd17bd2df88e" config-ref="Anypoint_MQ_Config" destination="circuite-breaker-mq" circuitBreaker="Circuit_breaker_http_time_out">
			<reconnect />
		</anypoint-mq:subscriber>
		<ee:transform doc:name="Transform Message" doc:id="3ea73801-b0ab-4671-8ce3-b98a5ba9e9a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="679a6755-4a74-4fcf-bb71-d67cc303b970" config-ref="HTTP_Request_configuration" path="/circuiteBreaker" sendCorrelationId="AUTO" correlationId="#[uuid()]"/>
		<logger level="INFO" doc:name="Logger" doc:id="c1489231-0cc2-46a3-b4d5-793b5d011b0a" message="*************************************** request fired ***************************************"/>
	</flow>
	<flow name="circuite-breaker-pocFlow1" doc:id="c3a8e090-e76d-4e4d-a83e-7eebad0cd941" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="61c38cc3-ac56-48e9-87b0-c82a3f23e699" config-ref="HTTP_Listener_config" path="/circuiteBreaker"/>
		<ee:transform doc:name="Transform Message" doc:id="182e1662-0614-4475-a9db-5fe1f5f0f6ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	"statusCode": "200",
    "status": "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6efed63b-c351-4afe-8100-ae43814531c6" message="#[payload]"/>
	</flow>
</mule>
